@media screen and (min-width: 1300px) and (min-height: 600px) {
  /* +++++ NavBar +++++ */

  #logo {
    margin-left: 15px;
    width: 100px;
    height: 100px;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul {
    width: calc(80% - 20px);
    height: 45px;

    margin-right: 80px;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    list-style: none;
    background: var(--gradient);
  }

  nav li {
    margin-left: 20px;
    margin-right: 20px;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;

    border-radius: 20px;

    box-shadow: -1px 1px 0px 0px rgba(0,0,0,0.21);
    background: rgba(255, 255, 255, 0.5);
  }

  nav li a {
    width: 100%;
    height: 100%;

    color: black;
    text-decoration: none;


    cursor: pointer;
  }

  /* ----- NavBar ----- */

  /* +++++ LeftBar +++++ */
  #leftbar {
    width: 115px;
    margin-top: 10px;
    margin-left: 5px;

    padding: 5px;

    border-radius: 15px;

    background: var(--gradient-from-black);
  }

  #leftbar ul {
    padding-left: 0;
    list-style: none;

    background: rgba(255, 255, 255, 0.8);

    border: solid 2px #3cc0a6;
    border-radius: 10px;
  }

  #leftbar img {
    width: 30px;
    height: 30px;

    border-radius: 50px;
  }

  #leftbar li {
    margin-left: 2.5px;
    margin-right: 2.5px;
    display: flex;
    align-items: center;
  }

  #leftbar li p {
    width: calc(100% - 20px);
    margin-left: 5px;
    margin-right: 5px;
  }

  .leftbar-title  {
    width: calc(100% - 2px);

    text-align: center;
    background: white;

    border: solid 2px #31a897;
    border-radius: 10px;
  }

  /* ----- LeftBar ----- */

  #redact {
    width: calc(80% - 30px);
    height: 65%;
    margin-right: 80px;
    padding: 15px;

    position: absolute;
    float: right;
    top: 100px;
    left: 175px;

    border-radius: 15px;


    background: var(--gradient);
  }

  form {
    width: 100%;
    height: 100%;
  }

  form .top {
    display: flex;
    justify-content: space-between;
  }

  #cancel-b,
  #post-b,
  #title-i {
    width: 100px;
    height: 40px;

    border-radius: 20px;
  }

  #title-i {
    width: 250px;

    border: solid 2px #a9aead;
    outline: none;
  }

  #cancel-b {
    border: solid 2px #229cc8;
    cursor: pointer;
  }

  #post-b {
    border: solid 2px #36E864;
    cursor: pointer;
  }

  #redact .down {
    display: flex;
    justify-content: space-between;
  }

  #content-i {
    width: 95%;
    height: 300px;
    resize: none;

    border: solid 2px #c5dbce;
    border-radius: 15px;
    outline: none;

    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
