:root {
    --start-gradient: #35F47C;
    --end-gradient: #2092D2;
    --gradient: linear-gradient(to right, var(--start-gradient), var(--end-gradient));
    --degradient: linear-gradient(to left, var(--start-gradient), var(--end-gradient));
    --transparent-bg: rgba(155, 155, 155, 0.5);
    --border: #3098c7
}

* {
  font-family: 'Comic Sans MS';
}

@media screen and (min-width: 1100px) and (min-height: 600px) {
  main {
    width: 80%;
    height: 80%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .separation {
    height: 1px;
    width: 95%;
    margin-top: 30px;
    margin-bottom: 30px;

    background: linear-gradient(90deg, rgba(243,243,243,1) 0%, rgba(215,215,215,1) 100%);
  }

  form {
    width: 45%;
    height: 90%;

    padding: 15px;

    background: var(--gradient);

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    border-radius: 15px;
  }

  #title {
    margin-bottom: 0;
    color: #1F2F8C;
    font-size: 20px;
  }

  input {
    width: 80%;
    height: 40px;

    margin: 7.5px;

    border: solid 2px #36E864 /* #6feaa3 */;
    border-radius: 15px;

    background: rgba(239, 239, 239, .6);

    color: black;

    outline: none;
  }

  ::placeholder {
    color: #232323;
  }

  #login-b {
    border: solid 2px #229cc8;
    cursor: pointer;
    transition: .5s;
  }

  #login-b:hover {
    background: rgb(239, 239, 239);
  }

  a {
    margin-bottom: 5px;

    font-size: 18px;
  }

  img {
    height: 90%;
  }
}
