<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Iton Social Network - ElGodDakio</title>

    <link rel="stylesheet" href="../src/css/global/themes.css">
    <link rel="stylesheet" href="../src/css/global/index.css">
    <link rel="stylesheet" href="../src/css/pc/home_logged.css">

    <script src="https://kit.fontawesome.com/b2a5969a14.js" crossorigin="anonymous"></script>

  </head>
  <body class="dark">
    <nav>
      <img src="../src/assets/logo.png" alt="Logo d'Iton" id="logo">

      <ul>
        <li><a href="/" class="link">Accueil</a></li>
        <li><a class="link" id="redact-link">Rechercher</a></li>
        <li><a href="/me" class="link">Mon Compte</a></li>
        <li><a href="/logout" class="link">Deconnexion</a></li>
      </ul>
    </nav>

    <!-- Redact Post Box -->
    <section id="redact">
      <form class="" action="" method="post">
        <div class="top">
          <input type="reset" name="cancel" id="cancel-b" value="Annuler">
          <input type="text" name="title" id="title-i" placeholder="Titre du post..." maxlength="128" required>
          <input type="submit" name="post" id="post-b" value="Publier">
        </div>

        <textarea name="content" id="content-i" placeholder="Contenu du post... (2048 caractères max)" maxlength="2048" required></textarea>
      </form>
    </section>
    
    <!-- Daily posts -->
    <section id="daily">
      <p id="daily-title">POSTES DU JOUR</p>

      <div id="daily-content">

        <div class="daily-post">
          <div class="daily-top">
            <img src="../src/assets/logo.png" alt="Photo de profile d'ElGodDakio">
            <p class="post-author">ElGodDakio</p>
            <p class="post-likes">100000</p>
            <i class="fa-solid post-like-icon fa-thumbs-up"></i>
          </div>

          <p class="dialy-post-content">
            Proident fugiat est ea tempor. Cillum incididunt culpa cupidatat labore sit duis nisi est cupidatat ipsum elit amet aliqua. Ut commodo eiusmod ea magna proident minim. Nulla deserunt ipsum quis in dolore commodo excepteur velit dolore officia elit ut deserunt. Deserunt excepteur occaecat veniam Lorem quis nulla dolore anim id ea consequat elit. Occaecat sint eu dolore sit elit id sit ex consequat amet commodo aute incididunt. Aute qui cillum elit cupidatat magna exercitation eu culpa reprehenderit irure Lorem.
            Incididunt aliquip tempor ut veniam laborum labore ea cillum incididunt sit velit proident. Ex elit ad occaecat consequat reprehenderit qui exercitation. Proident nostrud incididunt irure et reprehenderit deserunt. Elit velit minim voluptate occaecat velit eu. Lorem consequat fugiat aliqua eu id elit veniam duis anim aliquip et.
            zzz
          </p>
        </div>
  
        <div class="daily-post">
          <div class="daily-top">
            <img src="../src/assets/logo.png" alt="Photo de profile d'ElGodDakio">
            <p class="post-author">Valentus</p>
            <p class="post-likes">75000</p>
            <i class="fa-solid post-like-icon fa-thumbs-up"></i>
          </div>

          <p class="dialy-post-content">
            Proident fugiat est ea tempor. Cillum incididunt culpa cupidatat labore sit duis nisi est cupidatat ipsum elit amet aliqua. Ut commodo eiusmod ea magna proident minim. Nulla deserunt ipsum quis in dolore commodo excepteur velit dolore officia elit ut deserunt. Deserunt excepteur occaecat veniam Lorem quis nulla dolore anim id ea consequat elit. Occaecat sint eu dolore sit elit id sit ex consequat amet commodo aute incididunt. Aute qui cillum elit cupidatat magna exercitation eu culpa reprehenderit irure Lorem.
            Incididunt aliquip tempor ut veniam laborum labore ea cillum incididunt sit velit proident. Ex elit ad occaecat consequat reprehenderit qui exercitation. Proident nostrud incididunt irure et reprehenderit deserunt. Elit velit minim voluptate occaecat velit eu. Lorem consequat fugiat aliqua eu id elit veniam duis anim aliquip et.
          </p>
        </div>

        <div class="daily-post">
          <div class="daily-top">
            <img src="../src/assets/logo.png" alt="Photo de profile d'ElGodDakio">
            <p class="post-author">DankBroom</p>
            <p class="post-likes">25000</p>
            <i class="fa-solid post-like-icon fa-thumbs-up"></i>
          </div>

          <p class="daily-post-content">
            Proident fugiat est ea tempor. Cillum incididunt culpa cupidatat labore sit duis nisi est cupidatat ipsum elit amet aliqua. Ut commodo eiusmod ea magna proident minim. Nulla deserunt ipsum quis in dolore commodo excepteur velit dolore officia elit ut deserunt. Deserunt excepteur occaecat veniam Lorem quis nulla dolore anim id ea consequat elit. Occaecat sint eu dolore sit elit id sit ex consequat amet commodo aute incididunt. Aute qui cillum elit cupidatat magna exercitation eu culpa reprehenderit irure Lorem.
            Incididunt aliquip tempor ut veniam laborum labore ea cillum incididunt sit velit proident. Ex elit ad occaecat consequat reprehenderit qui exercitation. Proident nostrud incididunt irure et reprehenderit deserunt. Elit velit minim voluptate occaecat velit eu. Lorem consequat fugiat aliqua eu id elit veniam duis anim aliquip et.
          </p>
        </div>

        <div class="daily-post">
          <div class="daily-top">
            <img src="../src/assets/logo.png" alt="Photo de profile d'ElGodDakio">
            <p class="post-author">KirbyxZzz</p>
            <p class="post-likes">0</p>
            <i class="fa-solid post-like-icon fa-thumbs-up"></i>
          </div>

          <p class="dialy-post-content">
            Proident fugiat est ea tempor. Cillum incididunt culpa cupidatat labore sit duis nisi est cupidatat ipsum elit amet aliqua. Ut commodo eiusmod ea magna proident minim. Nulla deserunt ipsum quis in dolore commodo excepteur velit dolore officia elit ut deserunt. Deserunt excepteur occaecat veniam Lorem quis nulla dolore anim id ea consequat elit. Occaecat sint eu dolore sit elit id sit ex consequat amet commodo aute incididunt. Aute qui cillum elit cupidatat magna exercitation eu culpa reprehenderit irure Lorem.
            Incididunt aliquip tempor ut veniam laborum labore ea cillum incididunt sit velit proident. Ex elit ad occaecat consequat reprehenderit qui exercitation. Proident nostrud incididunt irure et reprehenderit deserunt. Elit velit minim voluptate occaecat velit eu. Lorem consequat fugiat aliqua eu id elit veniam duis anim aliquip et.
          </p>
        </div>
      </div>
    </section>

    <section id="leftbar">
  
      <div id="leftbar-content">
        <!-- Activity section -->
        <div class="leftbar-items">
          <!-- Title -->
          <p class="leftbar-title">Activité</p>
  
          <!-- Content -->
          <ul>
            <li>
              <img src="../src/assets/logo.png" alt="Photo de profile d'ElGodDakio">
              <p>ElGodDakio</p>
            </li>

            <li>
              <img src="../src/assets/logo.png" alt="Photo de profile de Valentus">
              <p>Valentus</p>
            </li>

            <li>
              <img src="../src/assets/logo.png" alt="Photo de profile de TheDreWen">
              <p>TheDreWen</p>
            </li>
          </ul>
        </div>
  
        <!-- Follows section -->
        <div class="leftbar-items">
          <p class="leftbar-title">Abonnés</p>
  
          <!-- Content -->
          <ul>
            <li>
              <img src="../src/assets/logo.png" alt="Photo de profile de Squeezie">
              <p>Abo 1</p>
            </li>
  
            <li>
              <img src="../src/assets/logo.png" alt="Photo de profile de Squeezie">
              <p>Abo 2</p>
            </li>
          </ul>
        </div>

        
        <!-- Publicity section -->
        <div class="leftbar-items">
          <p class="leftbar-title">Publicité</p>
  
          <!-- Content -->
          <ul>
            <li>
              <img src="../src/assets/logo.png" alt="Photo de profile de Squeezie">
              <p>Pub 1</p>
            </li>
  
            <li>
              <img src="../src/assets/logo.png" alt="Photo de profile de Squeezie">
              <p>Pub 2</p>
            </li>
          </ul>
        </div>
      </div>
    </section>

  </body>
</html>
